node_modules/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
.DS_Store
coverage/
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
